
body{font-family:"Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}

header { 
  top: 0px;
  left: 0px;  
  width: 100%;
  height: 60px;
  margin-top: 20px; 
  background-color: black;
}  

header ul li { 
  float: left;
  list-style: none;
  padding-left: 35px;
  line-height: 60px;
  color: white;
  font-size: 20px; 
}

h1 { 
  border-left: thick solid black;
  border-bottom: 2px solid black;
  margin-top: -30px;
}

.A h2 {
  font-size: 25px;
  padding-left: 1pc;
  border-left: thick solid red;
  margin-top: 30px;
  margin-left: 20px;
}

.A label {
   margin-left: 15px;
}

.A {
 width: 900px;
 border:1px solid #999;
 background-color: #edecec;
 text-align: left;
 margin-top: 10px;
 padding: 1px;
}

.B {
  width: 900px;
  border:1px solid #999;
  background-color: #edecec;
  height: 150px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
}


.B h3 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 2px;
}


.A textarea {
   border:1px solid #dfdfdf;
   padding:5px;
   margin-left: 16px;
   color: #999;
   background: #fff;
}

.あ textarea {
  width: 250px;
  height: 13px;
}

.い textarea {
  width: 250px;
  height: 13px;
}

.う textarea {
  width: 450px;
  height: 140px;
}

.submit{
   border:1px solid rgb(127, 127, 127);
   padding: 4px 10px;
   margin-left: 15px;
   margin-top: 10px;
   margin-bottom: 30px;;
   color:rgb(255, 255, 255);
   background-color:#949393;
   border-radius:5px;
   border-bottom:solid 2px rgb(0, 0, 0);
}

.left { 
  float: left;
}

.right { 
  float: left;
}

footer { 
  clear: left;
}

.right {
  float: left;
  top: -30px;
  left: 100px;
  margin-top: -15px;
  margin-left: 35px;
}

.right h2 {
  border-bottom: 1px dashed black
}

.right ul {
  text-align: left;
  width: 300px;
  height: 100px;
}

.right ul li {
  list-style: none;
  text-align: left;
  margin-left: -20px;
  line-height: 1.5;
}

footer {
  clear: left;
  width: 100%;
  height: 60px;
  margin-top: 60px;
  font-size: 20px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 3;
}          